In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../raw_data/txt1/data.csv")
df.head(3)

In [5]:
df.head(3)

,text,source,prompt_id,text_length,word_count
0,"Federal law supersedes state law, and cannabis...",Bloom-7B,0,967,157
1,Miles feels restless after working all day. He...,Bloom-7B,0,5068,778
2,So first of I am danish. That means that I fol...,Bloom-7B,0,1602,267